<div class="container">
  <center><h1>Admin Panel</h1></center>
  <div class="action-buttons" style="text-align:center;">
    <%= link_to "Add Candidate", add_candidate_path, class: "add-candidate", method: :get %>
    <%= link_to "RESET", reset_election_path, class: "add-candidate", method: :delete, data: {confirm: "Are you Sure?", disable_with: "Processing..."} %>
  </div>
  <h2>Results</h2>
  <%= pie_chart Candidate.group(:vote_count).count, donut: true, download: true, colors: ["#00FF00", "#FFA500"]  %><br><br>
  <table>
    <tr>
      <th>Candidate Name</th>
      <th>Party</th>
      <th>Constituency Code</th>
      <th>Vote Count</th>
    </tr>
    <% @winners.each do |i| %>
      <tr>
        <td><%= i.name %></td>
        <td><%= i.party %></td>
        <td><%= i.constituency_code %></td>
        <td><%= i.vote_count %></td>
      </tr>
    <% end %>
  </table><br>
  <div class="row">
    <div class="col">
      <h2>Voter's List</h2>
      <table>
        <tr>
          <th>Voter Name</th>
          <th>email</th>
          <th>USN</th>
        </tr>
      <% @voters.each do |i| %>
        <tr>
          <td><%= i.name %></td>
          <td><%= i.email %></td>
          <td><%= i.usn %></td>
        </tr>
      <% end %>
      </table>
    </div>
    <div class="col">
      <h2>Candidate's List</h2>
      <table>
        <tr>
          <th>Candidate Name</th>
          <th>Party</th>
          <th>Constituency Code</th>
        </tr>
        <% @candidates.each do |i| %>
          <tr>
            <td><%= i.name %></td>
            <td><%= i.party %></td>
            <td><%= i.constituency_code %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div><br><br>
