<!--
<a href="https://drive.google.com/uc?export=view&id=1-3UHQdoswd_IrA5RPuZb_yN7pbs_oSZL"><img src="https://drive.google.com/uc?export=view&id=1-3UHQdoswd_IrA5RPuZb_yN7pbs_oSZL" style="width: 500px; max-width: 100%; height: auto" title="Click for the larger version." /></a>
-->
<div class="container">
  <h1>Vote now Path</h1>
  <% @candidates.each do |i| %>
    <img src="https://img.icons8.com/color/48/000000/user-male.png">
    <%= i.name %>
    <%= i.party %>
    <%= i.constituency_code %>
    <%= i.place %>
    <%= link_to "VOTE", register_vote_path(id: i.id), method: :post %>
  <% end %>
</div>
